* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.home {
    max-width: 25px;
    max-height: 50px;
    opacity: 0.0001;
    position: absolute;
}

.border {
    position: absolute;
    left: 10%;
    top: 10%;
    background-color: lightgray;
    padding: 100px 250px 100px 250px;
    max-width: 1600px;
}

.txt {
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}

.flex {
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.block {
    margin: 0 20px 0 20px;
}

.img {
    max-width: 263px;
    height: 210px;
}

.opisanie {
    margin: 5px 0 15px 0;
}

.symma {
    margin: 0 0 40px 0;
}

.btn {
    color: #23bac1;
    border: 1px solid #23bac1;
    padding: 15px 55px 15px 55px;
}